openapi: 3.0.3
info:
  title: Shivanshu Tiwari Portfolio API
  version: 1.0.0
  description: Official programmatic REST API for Shivanshu Tiwari — AI agent systems, autonomous evaluation, and backend architectures. Includes async jobs, sandbox testing, and OpenAPI service descriptions.
  contact:
    name: Shivanshu Tiwari
    url: https://shivanshutiwari.in/contact
    email: sht4bharat@gmail.com
  license:
    name: MIT
    url: https://shivanshutiwari.in/LICENSE
servers:
  - url: https://shivanshutiwari.in
    description: Production API server
  - url: https://shivanshutiwari.in/api/v1/sandbox
    description: Sandbox test environment
x-async-jobs:
  dispatch: /api/v1/jobs
  status: /api/v1/jobs/{jobId}
x-deprecation-policy:
  noticePeriodDays: 180
  sunsetHeader: Sunset
  deprecationHeader: Deprecation
  policyUrl: https://shivanshutiwari.in/developers/deprecation
x-cli:
  command: shivanshu
  run: npx shivanshu
  package_run: npx sht-portfolio-v2
  install: npm install -g sht-portfolio-v2
  documentation: https://shivanshutiwari.in/developers/cli
x-sdks:
  typescript:
    package: sht-portfolio-v2
    install: npm install sht-portfolio-v2
    registry: https://www.npmjs.com/package/sht-portfolio-v2
    documentation: https://shivanshutiwari.in/developers/sdk#typescript
  python:
    package: shivanshu-sdk
    install: pip install shivanshu-sdk
    registry: https://pypi.org/project/shivanshu-sdk/
    documentation: https://shivanshutiwari.in/developers/sdk#python
  go:
    package: github.com/SHT4BHARAT/NoIntroNeeded/sdk/go
    documentation: https://shivanshutiwari.in/developers/sdk#go
x-search:
  path: /api/search
  web: https://shivanshutiwari.in/search
  markdown: https://shivanshutiwari.in/search.md
  description: Unified site search across developer resources, APIs, SDKs, CLI, 19 engineering projects, and technical blog posts
paths:
  /api/search:
    get:
      operationId: searchSite
      summary: Unified search across developer resources, SDKs, CLI, projects, and posts
      description: Searches developer documentation, APIs, SDKs, CLI tools, 19 engineering projects, and technical blog posts with ranked relevance scoring.
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
          description: Search query string (e.g. 'developer', 'sdk', 'cli', 'gemini', 'fastapi')
        - name: query
          in: query
          required: false
          schema:
            type: string
          description: Alternative query alias for form and agent compatibility
      responses:
        "200":
          description: Structured search results grouped by category with total match counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  query:
                    type: string
                  total:
                    type: integer
                  developerResources:
                    type: array
                  projects:
                    type: array
                  posts:
                    type: array
  /api/v1/projects:
    get:
      operationId: listProjects
      summary: List portfolio projects with cursor pagination
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          schema:
            type: string
        - name: domain
          in: query
          schema:
            type: string
            enum: [ai-agents, backend, voice-ai, rl]
      responses:
        '200':
          description: Paginated list of projects
          headers:
            RateLimit-Limit:
              schema:
                type: integer
            RateLimit-Remaining:
              schema:
                type: integer
            RateLimit-Reset:
              schema:
                type: integer
            Deprecation:
              schema:
                type: string
            Sunset:
              schema:
                type: string
            Link:
              schema:
                type: string
          content:
            application/json:
              schema:
                type: object
                required: [data, pagination]
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Project'
                  pagination:
                    type: object
                    required: [nextCursor, hasMore]
                    properties:
                      nextCursor:
                        type: string
                        nullable: true
                      hasMore:
                        type: boolean
                      limit:
                        type: integer
  /api/v1/projects/{slug}:
    get:
      operationId: getProject
      summary: Get project details by slug
      parameters:
        - name: slug
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Project details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/contact:
    post:
      operationId: submitContact
      summary: Submit contact inquiry or internship opportunity
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, message]
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                message:
                  type: string
                  minLength: 10
      responses:
        '200':
          description: Inquiry received
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /api/v1/jobs:
    post:
      operationId: createJob
      summary: Dispatch asynchronous long-running task
      description: Dispatches an asynchronous processing job. Returns HTTP 202 Accepted with a Location header pointing to the job polling endpoint.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                task:
                  type: string
                  example: benchmark-evaluation
                payload:
                  type: object
      responses:
        '202':
          description: Job accepted for asynchronous processing. Poll the URL in the Location header for status.
          headers:
            Location:
              description: URL to poll for job status and output
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
  /api/v1/jobs/{jobId}:
    get:
      operationId: getJobStatus
      summary: Poll status and results of an asynchronous job
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Current status and output of the job
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
  /api/v1/sandbox/ping:
    get:
      operationId: sandboxPing
      summary: Sandbox environment health and status check
      responses:
        '200':
          description: Sandbox status
          headers:
            X-Sandbox:
              schema:
                type: string
                enum: ['true']
          content:
            application/json:
              schema:
                type: object
                required: [pong, sandbox]
                properties:
                  pong:
                    type: boolean
                  sandbox:
                    type: boolean
  /api/v1/sandbox/contact:
    post:
      operationId: sandboxContact
      summary: Simulate contact submission in sandbox mode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, message]
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                message:
                  type: string
                  minLength: 10
      responses:
        '200':
          description: Simulated contact receipt
          headers:
            X-Sandbox:
              schema:
                type: string
                enum: ['true']
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  sandbox:
                    type: boolean
  /api/v1/keys:
    post:
      operationId: generateTestKey
      summary: Generate an ephemeral sandbox API key for automated testing
      responses:
        '200':
          description: Generated test API key
          content:
            application/json:
              schema:
                type: object
                required: [apiKey, tier, expiresAt]
                properties:
                  apiKey:
                    type: string
                  tier:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
  /api/keys:
    post:
      operationId: generateTestKeyAlias
      summary: Generate an ephemeral sandbox API key (alias)
      responses:
        '200':
          description: Generated test API key
          content:
            application/json:
              schema:
                type: object
                required: [apiKey, tier, expiresAt]
                properties:
                  apiKey:
                    type: string
                  tier:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
    get:
      operationId: getTestKeyAlias
      summary: Generate an ephemeral sandbox API key via GET (alias)
      responses:
        '200':
          description: Generated test API key
          content:
            application/json:
              schema:
                type: object
                required: [apiKey, tier, expiresAt]
                properties:
                  apiKey:
                    type: string
                  tier:
                    type: string
                  expiresAt:
                    type: string
                    format: date-time
  /api/sandbox/ping:
    get:
      operationId: sandboxPingAlias
      summary: Sandbox environment health and status check (alias)
      responses:
        '200':
          description: Sandbox status
          headers:
            X-Sandbox:
              schema:
                type: string
                enum: ['true']
          content:
            application/json:
              schema:
                type: object
                required: [pong, sandbox]
                properties:
                  pong:
                    type: boolean
                  sandbox:
                    type: boolean
components:
  schemas:
    Job:
      type: object
      required: [jobId, status, pollUrl]
      properties:
        jobId:
          type: string
        status:
          type: string
          enum: [pending, running, completed, failed]
        pollUrl:
          type: string
          format: uri
        createdAt:
          type: string
          format: date-time
        result:
          type: object
          nullable: true
    Project:
      type: object
      required: [slug, title, description]
      properties:
        slug:
          type: string
        title:
          type: string
        description:
          type: string
        stack:
          type: array
          items:
            type: string
        domain:
          type: string
          enum: [ai-agents, backend, voice-ai, rl]
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string
        hint:
          type: string
        requestId:
          type: string